.App-header,
footer {
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #19AECB;
  padding: 1rem; 
  color: #fff;
}

.App-header img {
  margin: 5px;
}

footer {
  font-size: 1rem;
  padding-bottom: 0;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.attribute {
  font-size: 0.5rem;
  position: absolute;
  top: 40px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

@media screen and (max-width: 600px) {
  .App-header img {
    height: 40px;
    margin: 0;

  }
}