.App {
  display: flex; 
  flex-direction: column;
  height: 100vh;
}

.App-header,
footer {
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #19AECB;
  padding: 1rem; 
  color: #fff;
  font-size: 2.5rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
}

footer {
  font-size: 1rem;
  bottom: 0;
}

.App-main {
  height: 100%;
}