.App-main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: fit-content;
}

.DragDropContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 3rem;
}

.empty-card {
    border: 5px solid #19AECB;
    border-radius: 10px;
    height: 290px;
    width: 15.6rem;
}

.CardContainer {
    display: block;
}